extends layout

block content
    .row.banner
        .col-12
            h1= pageHeader.title
    .row
        .col-12.col-md-6
            form(action="/", method="get", role="form")
                .form-group.row
                    label.col-10.col-sm-2.col-form-label(for="name") Name:
                    .col-12.col-sm-10
                        input#name.form-control(name="name")
                .form-group.row
                    label.col-10.col-sm-2.col-form-label(for="departure") From:
                    .col-12.col-sm-10
                        input#departure.form-control(name="departure")
                .form-group.row
                    label.col-10.col-sm-2.col-form-label(for="destination") To:
                    .col-12.col-sm-10
                        input#destination.form-control(name="destination")
                .form-group.row
                    label.col-10.col-sm-2.col-form-label(for="address") Address:
                    .col-12.col-sm-10
                        input#address.form-control(name="address")
                .form-group.row
                    label.col-10.col-sm-2.col-form-label(for="date") Date:
                    .col-12.col-sm-10
                        input#date.form-control(name="date")
                .form-group.row
                    label.col-10.col-sm-2.col-form-label(for="time") Time:
                    .col-12.col-sm-10
                        input#time.form-control(name="time")
                .form-group.row
                    label.col-10.col-sm-2.col-form-label(for="email") Email:
                    .col-12.col-sm-10
                        input#email.form-control(name="email")
                .form-group.row
                    label.col-10.col-sm-2.col-form-label(for="contact") Contact:
                    .col-12.col-sm-10
                        input#contact.form-control(name="contact")
                .form-group.row
                    label.col-sm-2.col-form-label(for="description") Description:
                    .col-sm-10
                        textarea#description.form-control(name="description", rows="5")
                button.btn.btn-primary.float-right Add Journey


